<div class="container">
	<h1>Statement For <%=@month.created_at.strftime("%b %d, %Y")%></h1>
	<div class="row">
		<div class="span8">
			<%= render 'items_purchased'%>
			<%= render 'transactions'%>
		</div>
		<div class="span4">
			<%= render 'this_month'%>
			<%= render 'statements'%>
		</div>
	</div>
</div>