<div class ="row">
	<div class="span9">
		<h1><%=@mate.name%><h1>
		<h3>Purchases</h3>
		<%= render 'item_list'%>
		<% if mate_signed_in? and current_mate == @mate %>
			<div class="accordion" id="accordion2">
			  <div class="accordion-group">
			    <div class="accordion-heading radius">
			      <a class="accordion-toggle btn btn-warning height" data-toggle="collapse" href="#collapseOne">
					  Add a Purchase
			      </a>
			    </div>
			    <div id="collapseOne" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <%= render 'item_form'%>
			      </div>
			    </div>
			  </div>
			</div>
		<% end %>
		<%= render 'statemet_list'%>
	</div>
	<div class="span3">
		<%= render 'currently_owe'%>
	</div>
</div>

