
<div class="container">
	<div class="row">
		<div class="span5 offset1">
			<h3>Edit <%= resource_name.to_s.humanize %></h3>

			<%= form_for(resource, :html => {:class => "form-horizontal"}, 
								   :as => resource_name, 
								   :url => registration_path(resource_name), 
								   :html => { :method => :put }) do |f| %>
			  <%= devise_error_messages! %>
  
  
			  <div class="control-group">
				  <%= f.label :address, :class =>"control-label" %>
				<div class="controls">
				  <%= f.text_field :address %>
			    </div>
			  </div>
			  
			  <div class="control-group">
				  <%= f.label :city, :class =>"control-label" %>
				<div class="controls">
				  <%= f.text_field :city %>
			    </div>
			  </div>
   
			  <div class="control-group">
				  <%= f.label :email, :class =>"control-label", 
				  					 :placeholder => "email" %>
				<div class="controls">
				  <%= f.email_field :email, :autofocus => true %>
			    </div>
			  </div>
   

				  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
				  <% end %>

			  <div class="control-group">
				  <%= f.label :new_password, :class =>"control-label" %>
									
				<div class="controls">
				  <%= f.password_field :password, :autocomplete => "off" %>
			    </div>
			  </div>
		  
			  <div class="control-group">
				  <%= f.label :new_password_confirmation, :class =>"control-label" %>
									
				<div class="controls">
				  <%= f.password_field :password_confirmation %>
			    </div>
			  </div>
		  
			  <div class="control-group">
				  <%= f.label :current_password, :class =>"control-label" %>
									 
				<div class="controls">
				  <%= f.password_field :current_password, :autocomplete => "off" %>
			    </div>
			  </div>

			  <div class = "controls">
				  <%= f.submit "Update" , :class => "btn btn-info"%>
			  </div>
		  
				<% end %>


			 <%= button_to "Cancel my account", registration_path(resource_name),:class=>"btn btn-info", :data => { :confirm => "Are you sure?" }, :method => :delete %>

		 </div>
		 <div class="span5">
			<h3> Mates </h3>
			<table class="table table-striped">
			<% current_house.mates.where(current_use: true).each do |mate| %>
		
			<tr>
				<td><%= mate.name %></td>
				<% if mate.admin? and mate != current_mate%>
					<td><%= button_to 'delete', mate, :class => "btn btn-danger", method: :delete %></td>
					<td><%= button_to 'remove admin status', mate, :class => "btn btn-warning", method: :put %></td>
				<% elsif mate.admin? and mate == current_mate %>
					<td></td>
					<td></td>
				<% else %>
					<td><%= button_to 'delete', mate, :class => "btn btn-danger", method: :delete %></td>
					<td><%= button_to 'make admin', mate, :class => "btn btn-success" , method: :put %></td>
				<% end %>
			</tr>
			<% end %>
		</table>
		</div>
	</div>
</div>